*{
    margin:0;
    padding:0;
    box-sizing:border-box
}
.parent{
    background-color:rgb(255, 255, 255);
    height:100vh;
}
.parent h1{
    text-align:center;
    text-transform: capitalize;
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: 900;
    font-size: 30px;
}
.flex-container{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.child img{
height:400px;
width:300px ;
padding-bottom:10px ;

}
.text{
    text-align: center;
}
.text h3{
    font-size: 20px;
}
.text h4{
    padding-top: 25px;
    font-size: 20px;
    font-weight: 900;
}
@media (max-width:1210px){
    .parent{
        height:auto;
    }
    .flex-container{
        flex-direction: column;
        align-items: center;
    }
}
